@using SimpleTaskApp.MobilePhones.Dto
@using SimpleTaskApp.Areas.Admin.Models.Common.Modals
@using SimpleTaskApp.Areas.Admin.Models.Discounts

@model CreateDiscountViewModel

@{
    Layout = null;
}

@await Html.PartialAsync(
        "~/Areas/Admin/Views/Shared/Modals/_ModalHeader.cshtml",
        new ModalHeaderViewModel(L("CreateNewDiscount"))
    )

<form id="DiscountCreateForm" role="form" class="form-horizontal" method="post">
    <div class="modal-body">

        <!-- Name -->
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="Name">@L("Name")</label>
            <div class="col-md-9">
                <input id="Name" name="Name" type="text" class="form-control" maxlength="256" required
                       data-val="true"
                       data-val-required="@L("Name_Required")"
                       data-val-regex="@L("Name_Invalid")"
                       data-val-regex-pattern="^[a-zA-Z0-9\s]+$" />
                <span class="text-danger field-validation-valid" data-valmsg-for="Name" data-valmsg-replace="true"></span>
            </div>
        </div>

        <!-- Code -->
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="Code">@L("Code")</label>
            <div class="col-md-9">
                <input id="Code" name="Code" type="text" class="form-control" maxlength="50" required
                       data-val="true"
                       data-val-required="@L("Code_Required")"
                       data-val-regex="@L("Code_Invalid")"
                       data-val-regex-pattern="^[a-zA-Z0-9]+$" />
                <span class="text-danger field-validation-valid" data-valmsg-for="Code" data-valmsg-replace="true"></span>
            </div>
        </div>

        <!-- Percentage -->
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="Percentage">@L("Percentage")</label>
            <div class="col-md-9">
                <input id="Percentage" name="Percentage" type="number" class="form-control"
                       step="0.01" min="0" max="100"
                       data-val="true"
                       data-val-range="@L("Percentage_Invalid")"
                       data-val-range-min="0"
                       data-val-range-max="100"
                       data-val-decimalplaces="@L("Percentage_Decimal_Invalid")"
                       data-decimalplaces-max="2" />
                <span class="text-danger field-validation-valid" data-valmsg-for="Percentage" data-valmsg-replace="true"></span>
            </div>
        </div>


        <!-- Amount -->
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="Amount">@L("Amount")</label>
            <div class="col-md-9">
                <input id="Amount" name="Amount" type="number" class="form-control"
                       step="0.01" min="0"
                       data-val="true"
                       data-val-range="@L("Amount_Invalid")"
                       data-val-range-min="0"
                       data-val-decimalplaces="@L("Amount_Decimal_Invalid")"
                       data-decimalplaces-max="2" />
                <span class="text-danger field-validation-valid" data-valmsg-for="Amount" data-valmsg-replace="true"></span>
            </div>
        </div>
        <!-- ApplyType -->
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="ApplyType">@L("ApplyType")</label>
            <div class="col-md-9">
                <select id="ApplyType" name="ApplyType" class="form-control" required>
                    <option value="0">@L("All")</option>
                    <option value="1">@L("Category")</option>
                    <option value="2">@L("Product")</option>
                </select>
            </div>
        </div>

        <!-- Category Select -->
        <div class="form-group row category-select" style="display:none;">
            <label class="col-md-3 col-form-label">@L("SelectCategories")</label>
            <div class="col-md-9">
                <select name="Categories" class="form-control" multiple>
                    @foreach (var c in Model.Categories)
                    {
                        <option value="@c.Value">@c.Text</option>
                    }
                </select>
            </div>
        </div>

        <!-- Product Select -->
        <div class="form-group row product-select" style="display:none;">
            <label class="col-md-3 col-form-label">@L("SelectProducts")</label>
            <div class="col-md-9">
                <select name="Products" class="form-control" multiple>
                    @foreach (var p in Model.Products)
                    {
                        <option value="@p.Value">@p.Text</option>
                    }
                </select>
            </div>
        </div>

        <!-- MinOrderValue -->
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="MinOrderValue">@L("MinOrderValue")</label>
            <div class="col-md-9">
                <input id="MinOrderValue" name="MinOrderValue" type="number" class="form-control"
                       step="0.01" min="0"
                       data-val="true"
                       data-val-range="@L("MinOrderValue_Invalid")"
                       data-val-range-min="0"
                       data-val-decimalplaces="@L("MinOrderValue_Decimal_Invalid")"
                       data-decimalplaces-max="2" />
                <span class="text-danger field-validation-valid" data-valmsg-for="MinOrderValue" data-valmsg-replace="true"></span>
            </div>
        </div>


        <!-- MaxUsage -->
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="MaxUsage">@L("MaxUsage")</label>
            <div class="col-md-9">
                <input id="MaxUsage" name="MaxUsage" type="number" class="form-control"
                       min="0"
                       data-val="true"
                       data-val-range="@L("MaxUsage_Invalid")"
                       data-val-range-min="0" />
                <span class="text-danger field-validation-valid" data-valmsg-for="MaxUsage" data-valmsg-replace="true"></span>
            </div>
        </div>
        <!-- StartDate -->
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="StartDate">@L("StartDate")</label>
            <div class="col-md-9">
                <input id="StartDate" name="StartDate" type="datetime-local" class="form-control" required />
            </div>
        </div>

        <!-- EndDate -->
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="EndDate">@L("EndDate")</label>
            <div class="col-md-9">
                <input id="EndDate" name="EndDate" type="datetime-local" class="form-control" required />
            </div>
        </div>

        <!-- IsActive -->
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="IsActive">@L("IsActive")</label>
            <div class="col-md-9">
                <input type="hidden" name="IsActive" value="false" />
                <input id="IsActive" name="IsActive" type="checkbox" value="true" checked />
                <span class="text-danger field-validation-valid" data-valmsg-for="IsActive" data-valmsg-replace="true"></span>
            </div>
        </div>


    </div>

    @await Html.PartialAsync("~/Areas/Admin/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml")
</form>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script src="~/view-resources/Views/Discounts/_CreateModal.js" asp-append-version="true"></script>
