@using SimpleTaskApp.MobilePhones.Dto
@using SimpleTaskApp.Areas.Admin.Models.Carts
@using SimpleTaskApp.Areas.Admin.Models.Common.Modals

@model EditCartViewModel

@{
    Layout = null;
}

@await Html.PartialAsync(
        "~/Areas/Admin/Views/Shared/Modals/_ModalHeader.cshtml",
        new ModalHeaderViewModel(L("EditCart"))
    )

<form id="CartEditForm" role="form" class="form-horizontal">
    <input type="hidden" name="Id" value="@Model.Cart.Id" />

    <div class="modal-body">
        <!-- Product Name -->
        <div class="form-group row">
            <label class="col-md-3 col-form-label">@L("ProductName")</label>
            <div class="col-md-9">
                <p class="form-control-plaintext">@Model.Cart.Name</p>
            </div>
        </div>

        <!-- Product Image -->
        <div class="form-group row">
            <label class="col-md-3 col-form-label">@L("Image")</label>
            <div class="col-md-9">
                @if (!string.IsNullOrEmpty(Model.Cart.ImageUrl))
                {
                    <img src="@Model.Cart.ImageUrl" style="width:80px; height:80px;" />
                }
                else
                {
                    <span>@L("NoImage")</span>
                }
            </div>
        </div>

        <!-- Price -->
        <div class="form-group row">
            <label class="col-md-3 col-form-label">@L("Price")</label>
            <div class="col-md-9">
                <p class="form-control-plaintext">@Model.Cart.DisplayPrice.ToString("0.00")</p>
            </div>
        </div>

        <!-- Quantity -->
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="Quantity">@L("Quantity")</label>
            <div class="col-md-9">
                <input id="Quantity" name="Quantity" type="number" class="form-control"
                       value="@Model.Cart.Quantity"
                       min="1"
                       data-val="true"
                       data-val-required="@L("Quantity_Required")" />
                <span class="text-danger" data-valmsg-for="Quantity"></span>
            </div>
        </div>
    </div>

    @await Html.PartialAsync("~/Areas/Admin/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml")
</form>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script src="~/view-resources/Views/Carts/_EditModal.js" asp-append-version="true"></script>
