@using SimpleTaskApp.MobilePhones
@using SimpleTaskApp.MobilePhones.Dto
@using SimpleTaskApp.Web.Startup

@{
    ViewBag.Title = L("Carts");
}

@section scripts
{
    <environment names="Development">
        <script src="~/view-resources/Views/Carts/Index.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/view-resources/Views/Carts/Index.min.js" asp-append-version="true"></script>
    </environment>
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>@L("Carts")</h1>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table id="CartsTable" class="table table-striped table-bordered" aria-label="@L("Carts")">
                        <thead>
                            <tr>
                                <th style="width:30px"></th>
                                <th>@L("ProductName")</th>
                                <th>@L("Price")</th>
                                <th>@L("DiscountPrice")</th>
                                <th>@L("DisplayPrice")</th>
                                <th>@L("Quantity")</th>
                                <th>@L("Total")</th>
                                <th>@L("Color")</th>
                                <th>@L("Image")</th>
                                <th style="width:150px">@L("Actions")</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Modal chỉnh sửa Cart -->
<div class="modal fade" id="CartEditModal" tabindex="-1" role="dialog" aria-labelledby="CartEditModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            @* Nội dung Edit load qua AJAX *@
        </div>
    </div>
</div>
