<div class="abp-advanced-search mb-3">
    <form id="MobilePhonesSearchForm" class="form-horizontal">
        <div class="row g-2">
            <!-- Keyword search -->
            <div class="col-md-6">
                <input type="text" name="Keyword" class="form-control txt-search" placeholder="@L("SearchByNameOrDescription")" />
            </div>

            <!-- Filter dropdown & Search button -->
            <div class="col-md-6 d-flex">
                <div class="dropdown mr-2">
                    <button type="button"
                            class="btn btn-default dropdown-toggle"
                            data-toggle="dropdown"
                            aria-expanded="false">
                        <i class="fas fa-filter"></i> @L("Filter")
                    </button>
                    <div class="dropdown-menu dropdown-menu-right dd-menu p-2" role="menu">
                        <!-- Brand filter -->
                        

                        <hr />

                        <!-- Category filter -->
                        <label class="d-block mb-1">@L("Category")</label>

                        <div class="form-check form-check-inline">
                            <input type="radio" class="form-check-input" id="Category_All" name="CategoryId" value="" checked>
                            <label class="form-check-label" for="Category_All">@L("AllCategories")</label>
                        </div>

                        @foreach (var category in ViewBag.Categories as List<SelectListItem>)
                        {
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" id="Category_@category.Value" name="CategoryId" value="@category.Value">
                                <label class="form-check-label" for="Category_@category.Value">@category.Text</label>
                            </div>
                        }

                        <hr />

                        <!-- Flags -->
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="IsNew" id="IsNew" value="true">
                            <label class="form-check-label" for="IsNew">@L("New")</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="IsOnSale" id="IsOnSale" value="true">
                            <label class="form-check-label" for="IsOnSale">@L("OnSale")</label>
                        </div>
                        <hr />
                        <!-- Footer buttons -->
                        <div class="d-flex justify-content-between">
                            <button type="button" class="btn btn-default btn-clear">
                                <i class="fas fa-backspace"></i> @L("Clear")
                            </button>
                       
                        </div>
                    </div>
                </div>

                <!-- Nút search bên ngoài dropdown -->
                <button type="button" class="btn bg-blue ml-2 btn-search">
                    <i class="fas fa-search"></i> @L("Search")
                </button>
            </div>
        </div>
    </form>
</div>
